{% extends 'header.html'%}

{% block content  %}
<style>
      
    table, th, td {
      border: 1px solid black;
    }
    
    </style>
<div style=" background-color: skyblue; height:85px;text-align:center"><h2>All Data</h2>
<a class="btn" href="dash">Go To Dashboard</a>
</div>

<table style="width:100%; text-align:center;">
    <tr>
      <th>College ID</th>
      <th>Date</th>
      <th>Name</th>
      <th>Mobile No.</th>
      <th>Email</th> 
      <th>Issued Books</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
    
    {%for prof in prof%}
    <tr>
        <td>{{prof.college_id}}</td>
        <td>{{prof.date}}</td>
        <td>{{prof.name}}</td>
        <td>{{prof.phone}}</td>
        <td>{{prof.email}}</td>
        <td>{{prof.books}}</td>
        <td><a href="{% url 'update' prof.id %}" >Update</a> </td> 
        <td><a href="/delete/{{ prof.id }}">Delete</a> </td>     
    </tr>

    
    {%endfor%} 
   
</table><br>

 {% endblock  %}



