{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <script src="{% static 'js/main.js' %}"></script>
   
    
</head>

<body>
    <div class="nav">
        <ul>
            <img class="img" src="logo.png" height="54" width="150">
            
            {% if user.is_authenticated %}
            <li><a href="logout" style="font-size:large; font-weight:bold;padding:15px;">Logout</a></li>
           {% endif %}
        </ul>
        <h1>Library Management System</h1>
    </div>

 {% block content  %}


 
{% endblock  %}
</body>

</html>