{% extends 'header.html'%}

{% block content  %}

<div style=" background-color: skyblue; height:285px;text-align:center"><h2>Student Record </h2></div>

  <p> </p> 
<div style=" background-color: skyblue; height:45px;text-align:center"><h2>Book Issuing Form</h2></div>


<div class="form">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}


            {{ form.as_p}}



              <input class="btn" type="submit" style="float: right;">

        </form>
      </div>


 {% endblock  %}



