*{
    margin: 0;
    padding: 0;
}

body {
    margin: 20px 40px 20px 20px ;
    background-color: aquamarine;
}

.container{
    padding: 10px 50px 10px 50px;
    margin: 15px;
    width: 90%;
    height: 450px;
    position: relative;;
}

.capture {
    width:28%;
    height: 350px;
    float: left;
}

#my_camera {
    width:20%;
    height: 350px;
    float: left;
}


.form {
    padding: 15px;
    float: right;
    border-style: dotted;
    border-width: 2px;
    width:50%;
    height: 400px;
}

 #prof {
    width: 150px;
    height: 150px;
    background-color: rgb(25, 136, 99);

 }


 .btn {
    padding: 5px 5px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
    float: right;
    text-decoration: none;
  }
  
  .btn:hover {background-color: #3e8e41}
  
  .btn:active {
    background-color: #3e8e41;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
  }

  h3 {
      text-align: center;
      margin-bottom: 20px;
  }



 #form1 {
     width: 30%;
     height: 450px;
     background-color: wheat;
     margin: 15px;
     border-color: black;
     border-width: 3px;
     border-style: dotted;
     text-align: center;
 }


 .pbody {
     background-color: black;
 }





 body {
    margin: 0px;
    padding: 0px;
    background-color:skyblue;
}

.nav {
    background-color:rgb(145, 143, 139);
    margin: 0;
    padding: 0;
    height: 54px;
    width: 100%;
}
.nav h1 {
    margin-left: 200px;
    display: inline;
}

.helptext {
    color: red;
}

ul {
    margin: 0;
    padding: 0;
}

ul li.hello{
    color: white;
    font-size: 30px;
    padding: 10px;
    margin-top: 0;
    color: chartreuse;
   
}

.img {
    float: left;
}

li {
    float: right;           
    display: inline;
    margin-top: 10px;
    margin-right: 45px;
}

h1 a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    padding: 10px;
    
   
}

a:hover {
    background-color:blueviolet;
}


#id_sex ,#id_age,#id_phone ,#id_email, #id_name  {
   margin-left: 10px;
}

.login {
    margin:40px;
    
    text-align: center;
    width: 400px;
}


