/* For Header Section */
.navbar {
    background-color: rgb(93, 30, 120);
}



/* For Footer Section */
.footer {
    background-color: rgba(0, 0, 0, 0.315);
}
.design {
    text-align: center;
    background-color: aquamarine;
    color: brown;
}



