*{
    margin: 0;
    padding: 0;
}

/* For Header Section */
.navbar {
    background-color: rgb(93, 30, 120);
    width: 100%;
}



/* For Footer Section */
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: aquamarine;
    text-align: center;
    left: 0;
    right: 0;
    height: 2.5rem;            /* Footer height */
  }



/* For Login Section */
.login-box {
    background-color: gainsboro;
    border-radius: 10px;
}





.page {
    position: relative;
    min-height: 100vh;
  }